body{
    background-image: url(images/images.jpg);
}

.container {
    width: 80vw;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    box-shadow: 10px 10px 10px bisque;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
img{
    width: 100%;
    border-radius: 10px;
}

.jumbotron{
    border-radius:50px;
    margin-top: 5px;
}

input[type=number]{
    margin: 3px;
    border-radius: 5px;
    height: 40px;
}

input[type=reset]{
    margin: 3px;
    margin-left: 50px;
    font-size: 20px;
}

::placeholder{
    font-size: 15px;
    padding-left: 10px;
    color: rgb(150, 84, 5);
    text-align: center;
    
    font-style: italic;
}

#result{
    color:rgb(46, 235, 46);
    background-color: rgb(4, 11, 48);
    padding: 6px;
    text-align: center;
    font-weight: 400px;
}

article{
    background-color:bisque;
    padding: 10px;
    font-weight: bold;
    color: rgb(117, 86, 7);
    text-align: center;
}
.checkbox{
    color:white;
}
.row{
    display: center;
}